{% extends "root_navbar.html" %}
{% block title %} Login Page {% endblock title%}
{% block mid-content %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3" style="background-color: #e3e3e3; border-radius: 9px; border-color: #e3e3e3">
                        <div class="card-header justify-content-center;">
                          <h3 class="font-weight-bold my-1 text-center" style="font-weight: bold;">Sign In</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body text-black" style="background-color: #e3e3e3;">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">

                                            <label class="small mb-1" style="font-weight:bold; color: black; color: #636261">Username</label>
                                            {{ form.username }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                          <label class="small mb-1" style="font-weight:bold; color: #636261" >Password</label>
                                          {{ form.password }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <!-- Add a Remember me functionality -->
                                            {{ form.remember_me }}
                                            <label style="color: #636261; font-size: 14px; margin-top: 10px; margin-bottom: 10px"> <p style="margin-bottom: 5px;"> Remember me </p> </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group mt-0 mb-1">
                                          <button onclick="document.getElementById('home-btn').click()" name="login" class="col-md-12 btn btn-success" id="login" style="font-weight: bold"> Login </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="{% url 'users:register' %}" class="link-secondary" style="text-decoration: none">Sign Up</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endblock mid-content %}

{% block topbutton %}
{% endblock topbutton %}

{% block right-bar %}
{% endblock right-bar %}