{% extends "root_navbar.html" %}
{% block title %}Profile{% endblock title %}
{% block mid-content %}
<div class="container" style="margin-top: 10px;">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card shadow" style="border-radius: 9px;">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/users{{ user.profile.avatar.url }}" alt="Placeholder" class="rounded-circle" height="150" width="150">
                            <div class="mt-3">
                                <h4 style="color: black; font-weight: bold">{{ user.first_name }} {{user.last_name}}</h4>
                                <div class="text-secondary" style="color: black;">{{ user.profile.bio }}</div>
                                <div class="mt-md-4"></div>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#profileModal" style="font-weight: bold; font-size: 13px; ">
                                    Edit Profile
                                </button>
                                <div class="mt-4">
                                    {% if user.is_authenticated %}
                                      <a href="{% url 'users:logout' %}"> <button class="btn btn-secondary" style="font-weight: bold; border-raidus: 13px; font-size: 11px;
                                        "> Logout </button></a>
                                    {% else %}
                                    {% endif %}
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3 shadow" style="background-color: white; border-radius: 9px;">
                    <div class="card-body" style="color: black">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" style="font-weight: bold;">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" style="font-weight: bold; color: #696766">
                                {{ user.username }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" style="font-weight: bold">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary"  style="font-weight: bold; color: #696766">
                                {{ user.email }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3">
                        <div class="card h-100 shadow" style="background-color: white; border-radius: 9px;">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3" style="font-weight: bold">Favorite Songs</h6>
                                <!-- <div class="text" style="color: #696766">Stats or other profile elements can go here</div> -->
                                {% if user.profile.fave_songs %}
                                
                                    <table style="display: inline-block">
                                        {% for song in faveSongs %}
                                        <tr style="padding: 10px; padding-bottom: 0px; display: inline">
                                            <iframe src="https://open.spotify.com/embed/track/{{ song.song_id }}" width="500" height="100" 
                                            frameborder="0" allowtransparency="true" allow="encrypted-media" style="display: inline"></iframe>
                                            <form method='post' action="{% url 'users:removefaveSong' song.song_id %}" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-light" style="font-size: 7px; border-radius: 1000px; font-weight: bold; border-color: #e3e3e3" >
                                                     X
                                                </button>
                                            </form>
                                        </tr>
                                    {% endfor %}    
                                    </table>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3">
                        <div class="card h-100 shadow" style="background-color: white; border-radius: 9px;">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3" style="font-weight: bold">Recent Posts</h6>
                                {% for post in user_posts %}
                                <div class="card shadow text-black m-3" style="background-color: white; border-radius: 9px;">
                                    <div class="card-header" style="font-weight: bold; color: #636261">
                                    {{ post.timestamp }} in <a href="{% url 'groups:community' post.community.name %}" onclick="document.getElementById('comm-btn').click()" style="color: #636261;" >h/{{post.community.name}}</a>
                                    </div>
                                    <div class="card-body">
                                    <blockquote class="blockquote mb-0 text-gray">
                                        <p> {{ post.text }} </p>
                                
                                        <div>
                                            <input type="submit" value=" ↑ " data-hx-post="{% url 'groups:rate' post.id 1  %}" hx-target="#post-score" hx-trigger="click" class="btn btn-light" style="border-color: #e3e3e3"/>
                                                <p id="post-score" style="display: inline-block; font-weight: bold;"> Votes: {{ post.score }} </p>
                                            <input type="submit" value=" ↓ " data-hx-post="{% url 'groups:rate' post.id 0  %}" hx-target="#post-score" hx-trigger="click" class="btn btn-light" style="border-color: #e3e3e3"/>
                                        </div>
                                    </blockquote>
                                    {% if post.songs.all %}
                                    <div class="container" style="height: 135px; width: 90%; overflow-x:scroll; text-align: center; background-color: white;">
                                    <table>
                                        {% for song in post.songs.all %}
                                        <td style="padding: 10px; padding-bottom: 0px;">
                                            <iframe src="https://open.spotify.com/embed/track/{{ song.song_id }}" width="250" height="100" 
                                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                        </td>
                                    {% endfor %}    
                                    </table>
                                </div>
                                {% endif %}
                                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal{{post.id}}" data-whatever="@getbootstrap">View Comments</button>
                                
                                <div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{post.id}}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                            <label for="message-text" class="col-form-label">Add a comment</label>
                                            <form method="POST" action="{% url 'groups:add' post.id %}">
                                                {% csrf_token %}
                                                {{comment_form.as_p}}
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                            </div>
                                        <hr>
                                        <div>
                                            <h5>Comments</h5>
                                            {% for comment in post.comments.all %}
                                                {% if comment.post.id == post.id %}
                                                <div class="card shadow text-black m-3" style="background-color: white; border-radius: 9px;">
                                                    <div class="card-header" style="font-weight: bold; color: #636261">
                                                    {{ comment.created_on }} by <a href="{% url 'users:publicProfile' comment.poster.username%}" style="color: #636261; ">u/{{comment.poster.username}}</a>
                                                    </div>
                                                    <div class="card-body">
                                                    {{comment.body}}
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3">
                        <div class="card h-100 shadow" style="background-color: white; border-radius: 9px;">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3" style="font-weight: bold">Recent Comments</h6>
                                {% for comment in user_comments %}
                                <div class="card shadow text-black m-3" style="background-color: white; border-radius: 9px;">
                                    <div class="card-header" style="font-weight: bold; color: #636261">
                                    {{ comment.created_on }} in <a href="{% url 'groups:community' comment.post.community.name %}" onclick="document.getElementById('comm-btn').click()" style="color: #636261;" >h/{{comment.post.community.name}}</a>
                                    </div>
                                    <div class="card-body">
                                    <blockquote class="blockquote mb-0 text-gray">
                                        <p> {{ comment.body }} </p>
                                    </blockquote>                                
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="profileModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" role="form">
        <div class="modal-content" style="font-size: 12px; font-weight: bold">
            <h3 class="modal-title" style="color: black; margin-left: 15px; margin-top: 15px; margin-bottom: -10px; font-weight: bold;">Edit Profile</h3>
            {% if user_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            <div class="modal-body">
                <div class="form-content">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="small mb-1">Username</label>
                            {{ user_form.username }}
                            <label class="small mb-1">Email</label>
                            {{ user_form.email }}
                        </div>
                        <div class="form-group">
                            <hr>
                            <label class="small mb-1">Change Avatar </label>
                            <br>
                            {{ profile_form.avatar }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1">Bio</label>
                            {{ profile_form.bio }}
                        </div>
                        <br><br>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-lg" style="font-size: 10px">Save Changes</button>
                            <button type="reset" class="btn btn-secondary btn-lg" style="font-size: 10px">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock mid-content %}

{% block topbutton %}
{% endblock topbutton %}

{% block right-bar %}
{% endblock right-bar %}