{% extends "root_navbar.html" %}
{% block title %}Profile{% endblock title %}
{% block mid-content %}
<div class="container" style="margin-top: 10px;">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card shadow" style="border-radius: 9px; border-color: #e3e3e3">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/users{{ user.profile.avatar.url }}" alt="Placeholder" class="rounded-circle" height="150" width="150">
                            <div class="mt-3">
                                <h4 style="color: black; font-weight: bold">{{ user.first_name }} {{user.last_name}}</h4>
                                <div class="text-secondary" style="color: black;">{{ user.profile.bio }}</div>
                                <div class="mt-md-4"></div>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#profileModal" style="font-weight: bold; font-size: 13px; ">
                                    Edit Profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3 shadow" style="background-color: white; border-radius: 9px; border-color: #e3e3e3">
                    <div class="card-body" style="color: black">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" style="font-weight: bold;">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" style="font-weight: bold; color: #696766">
                                {{ user.username }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" style="font-weight: bold">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary"  style="font-weight: bold; color: #696766">
                                {{ user.email }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3">
                        <div class="card h-100 shadow" style="background-color: white; border-radius: 9px; border-color: #e3e3e3">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3" style="font-weight: bold">Favorite Songs</h6>
                                <!-- <div class="text" style="color: #696766">Stats or other profile elements can go here</div> -->
                                {% if user.profile.fave_songs %}
                                
                                    <table>
                                        {% for song in faveSongs %}
                                        <tr style="padding: 10px; padding-bottom: 0px;">
                                            <iframe src="https://open.spotify.com/embed/track/{{ song.song_id }}" width="500" height="100" 
                                            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                            <form method='post' action="{% url 'users:removefaveSong' song.song_id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-secondary">
                                                     Remove
                                                </button>
                                            </form>
                                        </tr>
                                    {% endfor %}    
                                    </table>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    {% if user.is_authenticated %}
                      <a href="{% url 'users:logout' %}"> <button class="btn btn-secondary" style="font-weight: bold; border-raidus: 13px; font-size: 11px;
                        "> Logout </button></a>
                    {% else %}
                    {% endif %}

                </div>

            </div>
        </div>

    </div>
</div>


<div id="profileModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog" role="form">
        <div class="modal-content" style="font-size: 12px; font-weight: bold">
            <h3 class="modal-title" style="color: black; margin-left: 15px; margin-top: 15px; margin-bottom: -10px; font-weight: bold;">Edit Profile</h3>
            {% if user_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            <div class="modal-body">
                <div class="form-content">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="small mb-1">Username</label>
                            {{ user_form.username }}
                            <label class="small mb-1">Email</label>
                            {{ user_form.email }}
                        </div>
                        <div class="form-group">
                            <hr>
                            <label class="small mb-1">Change Avatar </label>
                            <br>
                            {{ profile_form.avatar }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1">Bio</label>
                            {{ profile_form.bio }}
                        </div>
                        <br><br>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-lg" style="font-size: 10px">Save Changes</button>
                            <button type="reset" class="btn btn-secondary btn-lg" style="font-size: 10px">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock mid-content %}

{% block topbutton %}
{% endblock topbutton %}

{% block right-bar %}
{% endblock right-bar %}