{% extends "root_navbar.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block mid-content %}
<div class="m-3" style="padding-top: 10px;">
    {% if user.is_authenticated %}
        <h4 class="display-7" style="text-align:center; font-size: 30px; font-weight: bold; padding-top: 10px;"> Welcome back, {{ user.username }}</h4>
    {% else %}
        <h4 class="display-7" style="text-align:center; font-size: 30px; font-weight: bold;"> Welcome to herddit</h4>
    {% endif %}
</div>

{% for post in posts %}
<div class="card shadow text-black m-3" style="background-color: white; border-radius: 9px;">
    <div class="card-header" style="font-weight: bold; color: #636261">
      {{ post.timestamp }} in <a href="{% url 'groups:community' post.community.name %}" onclick="document.getElementById('comm-btn').click()" style="color: #636261;" >h/{{post.community.name}}</a> |  by <a href="{% url 'users:publicProfile' post.poster.username%}" style="color: #636261; ">u/{{post.poster.username}}</a>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 text-gray">
        <p> {{ post.text }} </p>

          <div>
          <form action="{% url 'groups:rate' post.id 1  %}" style="display: inline-block;">
                <input type="submit" value="Upvote" />
            </form>

            <p style="display: inline-block; font-weight: bold;"> {{ post.score }} </p>

            <form action="{% url 'groups:rate' post.id 0  %}" style="display: inline-block;">
                <input type="submit" value="Downvote" />
            </form>
          </div>
      </blockquote>
      {% if post.songs.all %}
      <div class="container" style="height: 120px; width: 90%; overflow-x:scroll; text-align: center; background-color: white;">
      <table>
        {% for song in post.songs.all %}
        <td style="padding: 10px; padding-bottom: 0px;">
            <iframe src="https://open.spotify.com/embed/track/{{ song.song_id }}" width="250" height="100" 
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
      {% endfor %}    
    </table>
  </div>
  {% endif %}
  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal{{post.id}}" data-whatever="@getbootstrap">View Comments</button>

  <div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{post.id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="message-text" class="col-form-label">New Comment</label>
              <form method="POST" action="{% url 'groups:add' post.id %}">
                {% csrf_token %}
                  {{comment_form.as_p}}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          <hr>
          <div>
              {% for comment in post.comments.all %}
                {% if comment.post.id == post.id %}
                  <div class="card shadow text-black m-3" style="background-color: white; border-radius: 9px;">
                    <div class="card-header" style="font-weight: bold; color: #636261">
                      {{ comment.created_on }} by <a href="{% url 'users:publicProfile' comment.poster.username%}" style="color: #636261; ">u/{{comment.poster.username}}</a>
                    </div>
                    <div class="card-body">
                      {{comment.body}}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    </div>
  </div>
{% endfor %}
{% endblock %}


<!-- RIGHT SIDE NAV BAR -->
{% block right-content %}
    <hr>
    <a href="{% url 'groups:home' %}" class="text-decoration-none text-white">Communities</a>
    <hr>
    <div id="community-list-wrap">
      <ul class="nav nav-pills flex-column mb-auto m-1">
        {% for community in communities %}
        <a class="text-decoration-none text-white" href="{% url 'groups:community' community.name %}">
        <li id="community-{{community.name}}" class="community-link nav-item p-2 text-white rounded mb-1" style="background-color: #02baff;">
          <div class="row flex-nowrap p-0 m-0" style="width:68%">
              <div class="col">
                {{community.name}}
              </div>
              <div class="col my-auto">
                {% if user_profile %}
                  {% if community in user_profile.joined_communities.all %}
                    <a href="{% url 'groups:leave_community' community.name %}" class="btn btn-light" style="height:40px; width:40px">-</a>
                  {% else %}
                    <a href="{% url 'groups:join_community' community.name %}" class="btn btn-light" style="height: 40px; width:40px">+</a>
                  {% endif %}
                {% endif %}
              </div>
          </div>

        </li>
        </a>
        {% endfor %}
      </ul>
      <ul class="nav nav-pills flex-column mb-auto m-1">
          <li class="nav-item">
          </li>
      </ul>
    </div>
</div>
<script src="{% static 'groups/js/right-buttons.js' %}"></script>
<script src="/static/groups/js/checkbox.js?v22"></script>
{% endblock %}