{% extends "root_navbar.html" %}
{% block title %}Home{% endblock title %}
{% block mid-content %}
    {% for post in posts %}
    <li class="nav-item mt-3">
        <div class="post-width">
            <div class="p-3 bg-custom text-white">
                <div class="row link-row">
                    <div class="col-4 link-col">
                        <a href="{% url 'groups:community' post.community.name %}" onclick="document.getElementById('comm-btn').click()" class="white-link" style="font-size: 10px;">h/{{post.community.name}}</a>
                    </div>
                    <div class="col-4 link-col">
                        <a href="#" class="white-link" style="font-size: 10px;">u/{{post.poster.username}}</a>
                    </div>
                    <div class="col-4 link-col">
                        <a href="#" class="white-link" style="font-size: 10px;">{{post.timestamp}}</a>
                    </div>
                </div>
                <div class="bg-white rounded-3 text-white mt-3">
                    <div class="text-black">
                        <p class="p-2">
                            {{post.text}}
                        </p>
                    </div>
                </div>
                <!--
                <div class="bg-white rounded-3 text-white mt-3">
                    <div class="text-black">
                        <p class="p-2">
                            SONGS HERE
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
    </li>
    {% endfor %}
       
</ul>
{% endblock %}

<!-- RIGHT SIDE NAV BAR -->
{% block right-content %}
    <hr>
    Trending
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <div class="p-3 mb-2 bg-custom text-white">Placeholder</div>
        </li>
    </ul>
{% endblock %}