{% extends "root_navbar.html" %}
{% block title %}Communities{% endblock title %}
{% load static %}
{% block mid-content %}
<style>
  #div2 {
  width: 500px;
  margin-bottom: 12px;
}
#div2 {
  overflow-x: scroll;
}
</style>
<link rel="stylesheet" href="{% static 'groups/css/styles.css' %}">
<div class="card text-white bg-secondary m-3" style="min-width: 500px">
    <div class="card-header">
        <h3>New Post</h3>
    </div>
    <div class="card-body">
        {% if user.is_authenticated %}
            <form action = "" method = "post">
                {% csrf_token %}
                {{form.as_p }}
                <input type="submit" class="btn btn-primary" value=Post>
            </form>
            <form method="post" class="form" action="">
              {% csrf_token %}
              <center>
                  <h2>Song Search</h2>
                  {{searchForm}}
                  <input type="submit" class="btn btn-primary" value=GO>
               </p>
              </center>
            </form>
            {% if songs %}
              <center>
                <div id="div2" style="text-align: center">
                    <table>
                      {% for song in songs %}
                      <td style="border-left: 4px solid #616161; border-right: 4px solid #616161; padding: 10px;">
                          <p>{{song}}</p>
                          <iframe src="https://open.spotify.com/embed/track/{{ song }}" width="200" height="250" 
                          frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                      </td>
                      {% endfor %}
                    </table>
                    </div>
              </center>
            {% endif %}
        {% else %}
            <h5> You must login to post </h5>
        {% endif %}
    </div>
</div>

{% if community.name %}
  {% for post in posts %}
  <div class="card text-white bg-dark m-3">
      <div class="card-header">
        Posted: {{ post.timestamp }} by {{post.poster.username}}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0 text-white">
          <p> {{ post.text }} </p>
        </blockquote>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="card text-white bg-secondary m-3">
    <div class="card-body" style="text-align:center">
      Welcome to the communities page. Select a community from the right navigation bar to get started.
    </div>
  </div>
{% endif %}
{% endblock mid-content %}

{% block right-content %}
      <hr>
    <a href="{% url 'groups:home' %}" class="text-decoration-none text-white">Communities</a>
    <hr>
      <div id="community-list-wrap">
        <ul class="nav nav-pills flex-column mb-auto m-1">
          {% for community in communities %}
          <a class="text-decoration-none text-white" href="{% url 'groups:community' community.name %}">
          <li id="community-{{community.name}}" class="community-link nav-item p-2 text-white rounded mb-1" style="background-color: #02baff;">
            {{ community.name | title }}
          </li>
          </a>
          {% endfor %}
        </ul>
        <ul class="nav nav-pills flex-column mb-auto m-1">
            <li class="nav-item">
            </li>
        </ul>
    </div>
<script src="{% static 'groups/js/right-buttons.js' %}"></script>
{% endblock %}