{% extends "root_navbar.html" %}
{% block title %}Communities{% endblock title %}
{% load static %}
{% block mid-content %}
{% if community.name %}
<div class="m-3">
  <h1 class="display-4">{{community.name}}</h1>
    {{comm_users|length}} user(s) in this community
  <hr>
</div>
{% else %}
  <div class="m-3">
    <h4 class="display-7" style="text-align:center">{{users|length}} user(s) and {{posts|length}} post(s) across all communities</h4>
    <hr>
  </div>
{% endif %}
<link rel="stylesheet" href="{% static 'groups/css/styles.css' %}">
<div style="width: 100%; overflow-x:hidden">
<div class="card text-white bg-secondary m-3" style="overflow-x:hidden">
    <div class="card-header">
        <h3>New Post</h3>
    </div>
    <div class="card-body" style="color: #636261">
        {% if user.is_authenticated %}
            <form action = "" method = "post">
                {% csrf_token %}
                <div style="color: white">
                  {{form.as_p }}
                </div>
                <input type="text" id="songs_input_id" name="songs_input" value="" style="display: none">
                <input type="submit" class="btn btn-primary" value=Post>
            </form>
            <form method="post" class="form" action="">
              {% csrf_token %}
              <center>
                <div style="color: white;">
                  <h2>Song Search</h2>
                  {{searchForm}}
                  <input type="submit" class="btn btn-primary" value=GO>
                </div>
            </form>

            {% if songs %}
              <center>
                <div class="container" style="height: 320px; width: 90%; overflow-x:scroll; text-align: center;">
                  <table>
                    {% for song in songs %}
                    <td style="padding: 10px;">
                        <iframe src="https://open.spotify.com/embed/track/{{ song }}" width="200" height="250" 
                        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        <input type="checkbox" id="{{song}}" class="box btn-check" />
                        <label class="btn btn-outline-light" for="{{song}}">Add</label>
                    </td>
                    {% endfor %}
                    </table>
                  </div>
              </center>
            {% endif %}
            <div id="clear_wrap_id">
              <p id="selected_songs_p"></p>
              <form>
                <input type="submit" onclick="clearLocal()" id="clear" class="btn btn-danger" value="Clear All">
              </form>
            </div>
        {% else %}
            <h5> You must login to post </h5>
        {% endif %}
    </div>
</div>

{% if community.name %}
  <div style="width: 100%; overflow-x:hidden">
    {% for post in posts %}
    <div class="card shadow text-black m-3" style="background-color: white; border-radius: 9px;">
        <div class="card-header" style="font-weight: bold; color: #636261">
          {{ post.timestamp }} in <a href="{% url 'groups:community' post.community.name %}" onclick="document.getElementById('comm-btn').click()" style="color: #636261;" >h/{{post.community.name}}</a> |  by <a href="{% url 'users:publicProfile' post.poster.username%}" style="color: #636261; ">u/{{post.poster.username}}</a>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0 text-gray">
            <p> {{ post.text }} </p>
    
              <div>
              <form action="{% url 'groups:rate' post.id 1  %}" style="display: inline-block;">
                    <input type="submit" value=" ↑ " />
                </form>
    
                <p style="display: inline-block; font-weight: bold;"> Votes: {{ post.score }} </p>
    
                <form action="{% url 'groups:rate' post.id 0  %}" style="display: inline-block;">
                    <input type="submit" value=" ↓ " />
                </form>
              </div>
          </blockquote>
          {% if post.songs.all %}
          <div class="container" style="height: 120px; width: 90%; overflow-x:scroll; text-align: center; background-color: white;">
          <table>
            {% for song in post.songs.all %}
            <td style="padding: 10px; padding-bottom: 0px;">
                <iframe src="https://open.spotify.com/embed/track/{{ song.song_id }}" width="250" height="100" 
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </td>
          {% endfor %}    
        </table>
      </div>
      {% endif %}
      <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal{{post.id}}" data-whatever="@getbootstrap">View Comments</button>
    
      <div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{post.id}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Add a comment</label>
                  <form method="POST" action="{% url 'groups:add' post.id %}">
                    {% csrf_token %}
                      {{comment_form.as_p}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              <hr>
              <div>
                <h5>Comments</h5>
                  {% for comment in post.comments.all %}
                    {% if comment.post.id == post.id %}
                      <div class="card shadow text-black m-3" style="background-color: white; border-radius: 9px;">
                        <div class="card-header" style="font-weight: bold; color: #636261">
                          {{ comment.created_on }} by <a href="{% url 'users:publicProfile' comment.poster.username%}" style="color: #636261; ">u/{{comment.poster.username}}</a>
                        </div>
                        <div class="card-body">
                          {{comment.body}}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    
        </div>
      </div>
    {% endfor %}
{% else %}
  <div class="card shadow text-black m-3" style="color: white; border-radius: 9px; border-color: #e3e3e3">
    <div class="card-body" style="text-align:center; font-weight: bold; color: #636261">
      Welcome to the communities page. Select a community from the right navigation bar to get started.
    </div>
  </div>
  </div>
{% endif %}
{% endblock mid-content %}

{% block right-content %}
    <hr>
    <form method="post" class="createCommunityForm" action="{% url 'groups:createCommunity' %}">
      {% csrf_token %}
      <h4>Create Community</h4>
      <p>{{ createCommunityForm.name }}
        <button type="submit">
          Create
        </button>
      </p>
    </form>
    <hr>
    <a href="{% url 'groups:home' %}" class="text-decoration-none text-white">Communities</a>
    <hr>
    <div id="community-list-wrap">
      <ul class="nav nav-pills flex-column mb-auto m-1">
        {% for community in communities %}
        <a class="text-decoration-none text-white" href="{% url 'groups:community' community.name %}">
        <li id="community-{{community.name}}" class="community-link nav-item p-2 text-white rounded mb-1" style="background-color: #02baff;">
          <div class="row flex-nowrap p-0 m-0" style="width:68%">
              <div class="col">
                {{community.name}}
              </div>
              <div class="col my-auto">
                {% if user_profile %}
                  {% if community in user_profile.joined_communities.all %}
                    <a href="{% url 'groups:leave_community' community.name %}" class="btn btn-light" style="height:40px; width:40px">-</a>
                  {% else %}
                    <a href="{% url 'groups:join_community' community.name %}" class="btn btn-light" style="height: 40px; width:40px">+</a>
                  {% endif %}
                {% endif %}
              </div>
          </div>
          
        </li>
        </a>
        {% endfor %}
      </ul>
      <ul class="nav nav-pills flex-column mb-auto m-1">
          <li class="nav-item">
          </li>
      </ul>
    </div>
</div>
<script src="{% static 'groups/js/right-buttons.js' %}"></script>
<script src="/static/groups/js/checkbox.js?v22"></script>
{% endblock %}