{% extends "root_navbar.html" %}
{% block content %}
<form method='post' class="form" action="{% url 'search:search' %}">
    {% csrf_token %}
    <br>
    <center>
        <h2>Search</h2>
        <p>Query: {{ form.query }} </p>
        <button type="submit">
            Search
        </button>
    </center>
</form>
<br>

{% if songs %}
<table>
    <tbody>
        <tr>
            {% for song in songs %}
                <td>
                    <iframe src="https://open.spotify.com/embed/track/{{song}}" width="100" height="400"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endif %}

{% endblock content %}