{% extends "root_navbar.html" %}
{% block title %}Song Search{% endblock title %}
{% block mid-content %}
<form method='post' class="form" action="{% url 'search:search' %}">
    {% csrf_token %}
    <br>
    <center>
        <h2 style="font-weight: bold; margin-right: 1rem">Song Search</h2>
        <p>{{ form.query }} 
        <button type="submit" class="btn btn-secondary">
            GO
        </button>
    </p>
    </center>
</form>
<br>

{% if songs %}
<center>

    <table>
        <thead>
          <tr>
            {% for song in songs %}
            <th>
                <iframe src="https://open.spotify.com/embed/track/{{ song }}" width="200" height="200" 
                frameborder="1" allowtransparency="true" allow="encrypted-media"></iframe>
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if user.is_authenticated %}
            {% for song in songs %}
            <td>
                {% csrf_token %}
                <center>
                <a href="{% url 'search:fave_song' song %}">Add To Favorites</a>
                </center>
            </td>
            {% endfor %}
            {% endif %}
          </tr>
        </tbody>
      </table>












</center>
{% endif %}




{% endblock mid-content %}

{% block right-bar %}
{% endblock right-bar %}