{% extends "root_navbar.html" %}
{% block content %}
<form method='post' class="form" action="{% url 'search:search' %}">
    {% csrf_token %}
    <br>
    <center>
        <h2>Search</h2>
        <p>Query: {{ form.query }} </p>
        <button type="submit">
            Search
        </button>
    </center>
</form>
<br>

{% if songs %}
    <table>
    <td>
    {% for song in songs %}

    <tr>
    <iframe src="https://open.spotify.com/embed/track/{{ song }}" width="750" height="160" 
    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </tr>
        
    {% endfor %}
    </td>
    </table>


{% endif %}

{% endblock content %}