{% extends "root_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="row p-0 m-0">
    {% block left-bar %}
    <div class="col-3 p-0 " style="min-width: 200px; max-width: 250px">
        <div class="flex-column p-3 text-white bg-dark left-nav-bar">
            <ul class="nav nav-pills flex-column mb-auto m-1">
                <li class="nav-item">
                        <img src="{% static 'images/hearddit-logo.png' %}" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
                        herddit
                </li>
                <hr>
                <li class="nav-item">
                    <a id="home-btn" href="{% url 'home' %}" class="nav-link text-white" aria-current="page">
                        <img src="{% static 'images/house-fill.svg' %}" alt="" class="left-nav-img">
                        Home
                    </a>
                </li>
                <li>
                    <a id ="comm-btn" href="{% url 'groups:home' %}" class="nav-link text-white">
                    <img src="{% static 'images/people-fill.svg' %}" alt="" class="left-nav-img">
                    Communities
                    </a>
                </li>
                <li>
                    <a id ="comm-btn" href="{% url 'search:search' %}" class="nav-link text-white">
                    <img src="{% static 'images/search.svg' %}" alt="" class="left-nav-img">
                    Song Search
                    </a>
                </li>
            </ul>
            <hr>
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a href="{% url 'groups:home' %}" class="nav-link d-flex align-items-center text-white text-decoration-none m-1" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"></a>
                        <!-- TODO: Fix this hacky solution -->
                        <span id="profile-links">
                            <a href="{% url 'users:profile' %}"><img src="/users{{ user.profile.avatar.url }}" alt="" width="32" height="32" class="rounded-circle me-2"></a>
                            <a href="{% url 'users:profile' %}" class="text-white text-decoration-none" id="username-link">{{user.username}}</a>
                        </span>
                            <a href="{% url 'users:logout' %}"><span class="p-2"><img src="{% static 'images/logout.svg' %}"/></span></a>
                </div>
            {% else %}
                <a onclick="removeActiveLink()" class="btn btn-warning" href="{% url 'users:login' %}">Log-In</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}

    {% block mid-bar %}
    <div class="col p-0">
        <div id="overflow-wrap" style="height:100vh; width:100%; overflow-y: scroll;">
            <ul class="nav nav-pills flex-column mb-auto">

                <div id="top-btn-wrap" style="width: 100%; text-align: center;">
                    <input id="top-btn" onclick="topFunction()" type="image" src="/static/images/5399087-5.png" class="mb-3 top-button position-fixed" style="bottom:0;" />
                </div>
                {% block mid-content %}
                {% endblock %}
            </ul>

        </div>
    </div>
    {% endblock %}

    {% block right-bar %}
    <!-- RIGHT SIDE NAV BAR -->
    <div class="col-3 p-0 right-nav-wrap bg-dark">
        <div class="flex-column p-3 text-white bg-dark right-nav-bar" style="max-width: 250px; float:left; overflow-y: scroll;">
            <div class="input-group col-md-4">
                <input class="form-control py-2" placeholder="Search" type="search">
          </div>
            {% block right-content %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}
</div>
{% block topbutton %}
<script src="{% static 'js/topbutton.js' %}"></script>
{% endblock topbutton %}
<script src="/static/js/sidebutton.js?v5"></script>

{% endblock %}