{% extends "navbar.html" %}
{% load static %}
{% block mid-content %}
    Groups page
{% endblock %}

{% block right-content %}
    <hr>
        Recommended Groups
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <div class="p-3 mb-2 bg-custom text-white">Recommendation #1</div>
        </li>
        <li class="nav-item">
            <div class="p-3 mb-2 bg-custom text-white">Recommendation #2</div>
        </li>
        <li class="nav-item">
            <div class="p-3 mb-2 bg-custom text-white">Recommendation #3</div>
        </li>
        <li class="nav-item">
            <div class="p-3 mb-2 bg-custom text-white">Recommendation #N</div>
        </li>
    </ul>
{% endblock %}