
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.bg-custom{
  background-color: #02baff;
  border-radius: 10px;
}

.left-nav-bar{
  min-width: 170px;
  max-width: 250px;
  height: 100vh;
}

.right-nav-bar{
  min-width: 170px;
  height: 100vh;
}

.post-width{
  width: 95%;
  margin: auto;
}

.top-button{
  z-index: 99;  
}

.white-link:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

.white-link:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.white-link:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.white-link:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.col-4.link-col{
  text-align: center;
}

#top-btn-wrap{
  display: none;
}

.right-nav-wrap{
  max-width: 250px;
}

.mid-bar-wrap{
  height: 100vh;
  overflow-y: scroll;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #02baff;
}

@media screen and (min-width: 0px) {
  .right-nav-wrap { display: block; }
}

@media screen and (max-width: 800px) {
  .right-nav-wrap { display: none; }
  .left-nav-img{
    display: none;
  }
  
}